-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cargorentals
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `CustomerID` int(11) NOT NULL AUTO_INCREMENT,
  `CustomerName` varchar(100) NOT NULL,
  `CustomerPhone` varchar(20) NOT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `CNIC` varchar(20) NOT NULL,
  `Address` text DEFAULT NULL,
  `CreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`CustomerID`),
  UNIQUE KEY `CustomerPhone` (`CustomerPhone`),
  UNIQUE KEY `CNIC` (`CNIC`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (1,'Ali Khan','0300-1234567','ali.khan@example.com','35201-1234567-1','Lahore','2026-09-23 14:01:25'),(2,'Usman Ahmed','0321-9876543','usman@example.com','35201-9876543-2','Karachi','2026-09-23 14:01:25'),(3,'Sara Fatima','0333-5554433','sara@example.com','35201-5554433-3','Islamabad','2026-09-23 14:01:25'),(4,'Bilal Hassan','0312-0000000','bilal@example.com','35201-0000000-4','Rawalpindi','2026-09-23 14:01:25');
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `PaymentID` int(11) NOT NULL AUTO_INCREMENT,
  `RentalID` int(11) NOT NULL,
  `PaymentDate` timestamp NOT NULL DEFAULT current_timestamp(),
  `AmountPaid` decimal(10,2) NOT NULL CHECK (`AmountPaid` > 0),
  `PaymentMethod` enum('Cash','Credit Card','Debit Card','Online') NOT NULL,
  PRIMARY KEY (`PaymentID`),
  KEY `RentalID` (`RentalID`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`RentalID`) REFERENCES `rentals` (`RentalID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (1,1,'2026-09-23 14:01:25',15000.00,'Cash'),(2,2,'2026-09-23 14:01:25',50000.00,'Credit Card'),(3,3,'2026-09-23 14:01:25',25000.00,'Online'),(4,4,'2026-09-23 14:01:25',14000.00,'Cash');
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rentals`
--

DROP TABLE IF EXISTS `rentals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rentals` (
  `RentalID` int(11) NOT NULL AUTO_INCREMENT,
  `CustomerID` int(11) NOT NULL,
  `VehicleID` int(11) NOT NULL,
  `RentalDate` date NOT NULL,
  `ReturnDate` date DEFAULT NULL,
  `TotalDays` int(11) GENERATED ALWAYS AS (to_days(`ReturnDate`) - to_days(`RentalDate`)) VIRTUAL,
  `TotalAmount` decimal(10,2) DEFAULT 0.00 CHECK (`TotalAmount` >= 0),
  `RentalStatus` enum('Active','Completed','Cancelled') DEFAULT 'Active',
  PRIMARY KEY (`RentalID`),
  KEY `CustomerID` (`CustomerID`),
  KEY `VehicleID` (`VehicleID`),
  CONSTRAINT `rentals_ibfk_1` FOREIGN KEY (`CustomerID`) REFERENCES `customers` (`CustomerID`) ON DELETE CASCADE,
  CONSTRAINT `rentals_ibfk_2` FOREIGN KEY (`VehicleID`) REFERENCES `vehicles` (`VehicleID`) ON DELETE CASCADE,
  CONSTRAINT `CHK_RentalDates` CHECK (`ReturnDate` is null or `ReturnDate` >= `RentalDate`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rentals`
--

LOCK TABLES `rentals` WRITE;
/*!40000 ALTER TABLE `rentals` DISABLE KEYS */;
INSERT INTO `rentals` VALUES (1,1,1,'2026-09-01','2026-09-04',3,15000.00,'Completed'),(2,2,3,'2026-09-10','2026-09-15',5,50000.00,'Completed'),(3,1,1,'2026-09-20','2026-09-25',5,25000.00,'Active'),(4,3,2,'2026-09-22','2026-09-24',2,14000.00,'Completed'),(5,2,2,'2026-10-01','2026-10-05',4,28000.00,'Active');
/*!40000 ALTER TABLE `rentals` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_CheckVehicleAvailability

BEFORE INSERT ON Rentals

FOR EACH ROW

BEGIN

    DECLARE current_status VARCHAR(20);

    

    SELECT Status INTO current_status 

    FROM Vehicles 

    WHERE VehicleID = NEW.VehicleID;

    

    IF current_status = 'Rented' THEN

        SIGNAL SQLSTATE '45000' 

        SET MESSAGE_TEXT = 'Error: This vehicle is currently rented and unavailable for a new booking.';

    ELSEIF current_status = 'Maintenance' THEN

        SIGNAL SQLSTATE '45000' 

        SET MESSAGE_TEXT = 'Error: Vehicle is under maintenance.';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_UpdateVehicleStatusAfterRental

AFTER INSERT ON Rentals

FOR EACH ROW

BEGIN

    UPDATE Vehicles 

    SET Status = 'Rented' 

    WHERE VehicleID = NEW.VehicleID;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `vehiclecategories`
--

DROP TABLE IF EXISTS `vehiclecategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehiclecategories` (
  `CategoryID` int(11) NOT NULL AUTO_INCREMENT,
  `CategoryName` varchar(50) NOT NULL,
  `Description` text DEFAULT NULL,
  PRIMARY KEY (`CategoryID`),
  UNIQUE KEY `CategoryName` (`CategoryName`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehiclecategories`
--

LOCK TABLES `vehiclecategories` WRITE;
/*!40000 ALTER TABLE `vehiclecategories` DISABLE KEYS */;
INSERT INTO `vehiclecategories` VALUES (1,'Sedan','4-door executive and family sedans'),(2,'SUV','Spacious sports utility vehicles'),(3,'Hatchback','Compact economical cars');
/*!40000 ALTER TABLE `vehiclecategories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicles` (
  `VehicleID` int(11) NOT NULL AUTO_INCREMENT,
  `VehicleNumber` varchar(20) NOT NULL,
  `VehicleModel` varchar(50) NOT NULL,
  `CategoryID` int(11) DEFAULT NULL,
  `DailyRate` decimal(10,2) NOT NULL CHECK (`DailyRate` > 0),
  `Status` enum('Available','Rented','Maintenance') DEFAULT 'Available',
  PRIMARY KEY (`VehicleID`),
  UNIQUE KEY `VehicleNumber` (`VehicleNumber`),
  KEY `CategoryID` (`CategoryID`),
  CONSTRAINT `vehicles_ibfk_1` FOREIGN KEY (`CategoryID`) REFERENCES `vehiclecategories` (`CategoryID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
INSERT INTO `vehicles` VALUES (1,'ABC-123','Toyota Corolla',1,5000.00,'Rented'),(2,'LEB-456','Honda Civic',1,7000.00,'Rented'),(3,'KHI-789','Kia Sportage',2,10000.00,'Rented'),(4,'LHR-101','Suzuki Alto',3,3000.00,'Available'),(5,'ISB-202','Hyundai Tucson',2,11000.00,'Maintenance');
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `view_consolidatedrentalreport`
--

DROP TABLE IF EXISTS `view_consolidatedrentalreport`;
/*!50001 DROP VIEW IF EXISTS `view_consolidatedrentalreport`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_consolidatedrentalreport` AS SELECT
 1 AS `RentalID`,
  1 AS `CustomerName`,
  1 AS `CustomerPhone`,
  1 AS `VehicleNumber`,
  1 AS `VehicleModel`,
  1 AS `DailyRate`,
  1 AS `RentalDate`,
  1 AS `ReturnDate`,
  1 AS `DaysRented`,
  1 AS `TotalAmount`,
  1 AS `RentalStatus`,
  1 AS `TotalAmountPaid` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_consolidatedrentalreport`
--

/*!50001 DROP VIEW IF EXISTS `view_consolidatedrentalreport`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_consolidatedrentalreport` AS select `r`.`RentalID` AS `RentalID`,`c`.`CustomerName` AS `CustomerName`,`c`.`CustomerPhone` AS `CustomerPhone`,`v`.`VehicleNumber` AS `VehicleNumber`,`v`.`VehicleModel` AS `VehicleModel`,`v`.`DailyRate` AS `DailyRate`,`r`.`RentalDate` AS `RentalDate`,`r`.`ReturnDate` AS `ReturnDate`,to_days(ifnull(`r`.`ReturnDate`,curdate())) - to_days(`r`.`RentalDate`) AS `DaysRented`,`r`.`TotalAmount` AS `TotalAmount`,`r`.`RentalStatus` AS `RentalStatus`,ifnull(sum(`p`.`AmountPaid`),0.00) AS `TotalAmountPaid` from (((`rentals` `r` join `customers` `c` on(`r`.`CustomerID` = `c`.`CustomerID`)) join `vehicles` `v` on(`r`.`VehicleID` = `v`.`VehicleID`)) left join `payments` `p` on(`r`.`RentalID` = `p`.`RentalID`)) group by `r`.`RentalID`,`c`.`CustomerName`,`c`.`CustomerPhone`,`v`.`VehicleNumber`,`v`.`VehicleModel`,`v`.`DailyRate`,`r`.`RentalDate`,`r`.`ReturnDate`,`r`.`TotalAmount`,`r`.`RentalStatus` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-23 19:24:27
